/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

/* CONTAINER STYLES */

.container-top {
    background:#8321b9;
    position: relative;
    height:calc(70vh);
    max-height: 500px;
    position:relative;
    background:url('./images/bg.png') #7c17b7;
    background-repeat:no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.container-bottom {
    padding:0 15px 150px 15px;
    background:#fff;
}

/* HEADER STYLES */

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size:2.7em;
    font-weight: 700;
    letter-spacing:-3.5px;
    text-align: center;
    font-stretch: narrower;
    color:#fff;
    padding:80px 0;
}


/* SEARCH STYLES */

.search {
    padding:0 15px;
    width:100%;
    max-width:680px;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    z-index: 10;
}

.search,
.search__button,
.search__input,
.search__label,
.search__icon {
    display:block;
    float:left;
}

.search__input,
.search__button {
    padding:27px;
    border:0;
    outline: 0;
}

.search__input,
.search__label {
    width:calc(100% - 120px);
    height:69px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size:1.3em;
    color:#b8b8b8;
    font-weight: 500
}
.search__input {
    background:none;
    position: relative;
    transition: .5s;
    z-index: 2;
}
.search__button {
    width:120px;
    height: 69px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background:#f3db6f;
    color:#fff;
    position: relative;
}

.search__icon {
    width:32px;
    height:32px;
    background:url('../assets/images/icon-search.png');
    background-size:cover;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
    
}

.search__label {
    width:calc(100% - 150px);
    padding:22px;
    margin:0;
    position:absolute;
    background:#fff;
    z-index: 1;
}
.search__input:focus,
.search__input.has--value {background:#fff}

/* SEARCH WHITHOUT RESULT STYLES */

.message__search,
.icon__message,
.text__message {
    display: block;
    position: relative;
}

.message__search {
    width:100%;
    height: calc(30vh);
}

.icon__message {
    width:180px;
    height:180px;
    background:url('./images/icon-result.png');
    background-position:center center;
    background-size:cover;
    left:50%;
    transform: translateX(-50%);
}

.text__message {
    width:100%;
    float:left;
    max-width: 250px;
    text-align: center;
    left:50%;
    transform: translateX(-50%);
    font-family: 'Roboto', sans-serif;
    font-size:1.3em;
    font-weight: 500;
    color:#c5c4c4;
    line-height: 1.5em
}

/* SEARCH WITH RESULT STYLES */

.result__list,
.result__item,
.result__link {
    display: block;
    float:left;
}

.result__item,
.result__link {
    width:100%;
}

.result__list {
    width:calc(100% - 30px);
    opacity: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background:#fff;
    box-shadow: 3px 15px 30px rgba(0, 0, 0, .3);
    position: absolute;
    top:68px;
    z-index:10;
    transition: .8s
}
.result__list.has--value {opacity: 1}
.result__list.is--hide{
    transition: .3s;
    opacity:0
}

.result__item:first-of-type {
    border-top:1px #ebebeb solid
}

.result__link {
    opacity: 1;
    transition: .5s;
    padding: 25px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:1em;
    color:#a7a7a7;
    text-decoration: none;
    border-bottom: 1px #ebebeb solid;
    outline: 0;
}


.result__link.has--value {
    opacity:1
}

.result__link:hover {
    background:#f1f1f1;
}


/* QUOTATION STATYLES */

result-component {
    overflow: hidden;
}

.quotation__container, 
.quotation__header,
.quotation__title, 
.quotation__results, 
.quotation__img, 
.quotation__controll, 
.quotation__description, 
.quotation__open, 
.quotation__present, 
.quotation__action {
    display: block;
    float:left;
}

.quotation__container {
    width:100%;
    max-width: 700px;
    opacity: 0;
    font-family:'Roboto', sans-serif;
    font-size:.875em;
    font-weight: 500;
    color:#a7a4a4;
    position: relative;
    top:-1000px;
    left:50%;
    transform:translateX(-50%);
    transition: .3s ease-in-out
}
.quotation__container.is--toped{
    top:0;
    transition: .8s;
}
.quotation__container.is--visible {
    opacity: 1;
}

.quotation__container__title {
    width:calc((100% - 45px) / 2);
    padding:15px 15px 15px 0;
    font-family: 'Roboto', sans-serif;
    font-size:1.3em;
    font-weight: 500;
    color:#949090

}

.quotation__results {
    width:100%;
    border:1px #ebebeb solid;
    border-radius: 3px;
    font-size: 1.3em;
}

.quotation__header {
    width:100%;
    padding:15px;
    border-bottom:1px #ebebeb solid;
}

.quotation__title {
    width:calc((100% - 45px) / 2);
    padding:15px;
    text-transform: uppercase;
}
.quotation__title .label {
    color:#c0baba
}

.quotation__img{
    width:45px;
    height:45px;
    overflow: hidden;
} 
.quotation__img img {
    width:100%;
}

.quotation__controll{
    width:calc((100% - 45px) / 2);
    padding:15px 0;
    text-align: right;
    color:#c483e4;
    position:relative;
    cursor: pointer;
}
.quotation__controll::before {
    content:'';
    display: block;
    float:left;
    width:100%;
    height:100%;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    z-index:50;
    cursor: pointer
}

.quotation__icon {
    display:inline-block;
    width:16px;
    height:16px;
    margin:0 0 0 7px;
    position: relative;
    top:3px;
    background:url('../assets/images/icon-arrow.png');
    background-size: cover;
    transition: .5s
}

.quotation__icon.is--toggle {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.quotation__description{
    width:100%;
    padding: 0;
    height: 0;
    transition: .5s;
    overflow: hidden;
} 

.quotation__description.is--toggle {
    padding: 30px 15px;
    height: auto;
}

.quotation__item {
    /* font-size: 1.2em; */
}
.quotation__item:last-of-type {
    float:right;
}

.quotation__open{
    padding:15px 15px 15px 0;
} 
.quotation__open .label {
    color:#49c57c;
}
.quotation__present{
    padding:15px 15px 15px 30px;
} 
.quotation__present .label {
    color:#ff7c7c;
}
.quotation__open,
.quotation__present {
    font-weight: normal
}
.quotation__open .label,
.quotation__present .label{
    font-weight: 500;
    padding-right:3px;
}
.quotation__action{
    min-width: 150px;
    padding:15px;
    border-radius: 3px;
    color:#fff;
    text-align:center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    /* font-size: 1.2em; */
    background:#f3db6f;
}


/* STYLES MODAL */

.modal,
.modal__container,
.modal__title,
.modal__content,
.modal__actions{
    display:block;
    float:left;
}

.modal {
    width:100%;
    height:100%;
    font-family: 'Roboto', sans-serif;
    background:rgba(0, 0, 0, 0.664);
    position:fixed;
    z-index:100;
}
modal-component {display:none;}
modal-component.is--visible {display:block}

.modal__container {
    width:480px;
    padding:25px;
    border-radius:3px;
    background:#fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
}

.modal__title {
    width:100%;
    padding:15px;
    font-size:1.2em;
    font-weight: 500;
    text-align: center;
    color:#666;
}

.modal__actions{
    width:100%;
    text-align: center;
    padding:25px 15px 15px 15px;
}
.modal__action{
    display:inline-block;
    padding:15px 30px;
    margin:0 30px;
    font-size:1.2em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color:#bd81db;
    transition: .5s;
}

.modal__action:hover {
    color:#8b42af
}


/* STYLES FORM - STYLES LOGIN */
login-component {display:none}
login-component.is--visible {display:block}

.login__container,
.login__content,
.form__title,
.form__label,
.form__input__tile,
.form__input,
.form__action {
    display:block;
    float:left;
    font-family: 'Montserrat', sans-serif;
}

.login__container,
.form__title,
.form__label,
.form__input__tile,
.form__input,
.form__action {
    width:100%
}

.login__container{
    height:100%;
    background:rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: .5s;
    position:fixed;
    z-index:150;
}

.login__container.is--visible {
    opacity:1;
}

.login__content{
    max-width:350px;
    height:100%;
    padding:75px 30px;
    background:#fff;
    font-size:.875em;
    position:absolute;
    right:-5000px;
    transition: .5s
}
.login__content.is--visible {
    right:0
}
.form__title{
    padding-bottom:30px;
    font-weight: 600;
    font-size:1.3em;
    color:#756969

}
.form__label{
    padding-bottom:30px;
    position:relative;
}
.form__input__title{
    font-size:1.3em;
    font-weight: 600;
    color:#c9bfbf;
    padding:15px;
    transition: .3s;
    cursor:text;
    position:absolute;
    top:0;
    left:0;
}
.form__input{
    padding: 12px 15px;
    font-size: 1.3em;
    color:#666;
    border: 2px #c9bfbf solid;
    border-radius: 3px;
    outline: 0;
}

.form__input:focus + .form__input__title  {
    padding:0 15px;
    font-size:.875em;
    top:-18px;
    left:-15px;
    color:#c66bdd;
    cursor:pointer
}

.form__action {
    padding:15px;
    border:0;
    border-radius: 3px;
    font-size:1.3em;
    font-weight: 600;
    text-transform: uppercase;
    color:#fff;
    background: #c545df;
    cursor: pointer;
}

.login__cancel {
    display: block;
    float:left;
    width:calc(100% - 350px);
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0, 0, 0, .01);
    z-index:300;
}




